.Header_content {
  color: #bcbcbc;
  font-size: 100px;
  margin: 0;
}
.Header_content h4 {
  display: flex;
  color: aqua;
  font-size: 30px;
  margin-top: 10px;
  float: right;
}
.Header_content h4 span {
  font-size: 40px;
  margin: 0 10px;
  margin-top: -08px;
  color: whitesmoke;
}
